@{
    ViewBag.Title = "About Clothing Co";
}

<hgroup class="title">
    <h1>About Clothing Co</h1>
</hgroup>
<div class="row">
<div class="large-8 columns">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing molestie pretium. 
        Nam ac ante tortor. Suspendisse tincidunt vestibulum diam vel viverra. Cras pretium elementum consectetur. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sapien sapien, pulvinar placerat cursus at, 
        commodo at tortor. Integer erat turpis, ullamcorper vel iaculis id, varius vitae ligula. Proin ultricies 
        tristique ante ut ornare. Quisque elementum turpis vel nunc varius sed tristique risus vulputate. Nunc nec 
        venenatis risus. Sed varius consequat nisi, et luctus metus porta non. Vivamus fringilla, est at pulvinar 
        cursus, massa urna feugiat odio, non pretium est turpis at nisl. Maecenas est dolor, commodo eget lacinia et, 
        mollis ac nisl. Donec sed tortor ac neque mattis tempor lobortis at ligula. </p>
    </div>
<div class="large-2 columns right">
    <h3>Our branches</h3>
    <ul>
        <li>Center city</li>
        <li>South america</li>
        <li>Far away city</li>
    </ul>
</div>