@model IEnumerable<Udem.LlamaClothingCo.Entities.Item>
@{
    ViewBag.Title = "Clothing Co Store";
}


<div class="row">
<div class="large-12 columns">
  
<div class="row">
 
 
<!-- Thumbnails -->
 
<div class="large-12 columns">
<div class="row">
   @{Html.RenderAction("ItemsMenu", "Store");}

<!-- End Thumbnails -->
 
 
</div>
</div>
</div>
 

 
</div>
</div>


