@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	
<!-- Begin Image Gallery -->
	
	<div class="ImagePanel">
		<a title="Canon IXUS 115HS" rel="GRP1" class="jquerylightbox" href="/Portals/0/productimages/1605_0e8f2.jpg"><img class="Image" alt="Canon IXUS 115HS" src="/DesktopModules/NB_Store/makethumbnail.ashx?Image=96&amp;w=300&amp;tabid=82&amp;h=0" border="0" /></a>
		<div class="GalleryWrapper">
			</div>
	</div>
	
<!-- End Image Gallery -->
<!-- End Images Panel -->
	
<!-- Begin Purchasing Panel -->
 <div class="PurchasingPanel">
		
<!-- Begin Manufacturer and Name -->
		<div class="Name Row">
			<div class="Value"><h1> Canon IXUS 115HS </h1></div>
		</div>
<!-- End Manufacturer and Name -->

<!-- Begin Pricing for Retail, Sale and Dealer -->
	<!-- If prices are disabled then hide all prices -->

	<!-- If price is zero then hide all prices -->
	<div class="Price">
		<!-- Retail Pricing -->
		

	<!-- Sale Pricing -->
		<span class="OldPrice">$260.00</span>
		<span class="SalePrice">On Sale $234.00</span>
	
	
	
	
	</div>
	
	
	
	
	
<!-- End Pricing for Retail, Sale and Dealer -->

<!-- Begin Hide MiniCart totals when prices disabled -->
	
<!-- End Hide MiniCart totals when prices disabled -->

<!-- Begin Summary -->
	
		<div class="Summary Row">
			<div class="Value">Superb quality, entry level compact camera from Canon with stunning low light quality and a useful wide angle lens</div>
		</div>	
	
<!-- End Summary -->

<!-- Begin Stock -->
	
<!-- End Stock -->

<!-- Begin Reference Code -->
	
<!-- End Reference Code -->
	
<!-- Begin Hide purchasing when stock level is zero -->
	
	
<!-- Begin Options Dropdowns -->
	
	
	
<!-- End Options Dropdowns -->

<!-- Begin Model Selector -->
	
<!-- End Model Selector -->

<!-- Begin File Upload -->
	
	
	
<!-- End File Upload -->

<!-- Begin Quantity Field -->
		
			<!-- If price is zero then hide -->
		<div class="Quantity Row">
			<div class="Label">Quantity</div>
			<div class="Value"><input name="dnn$ctr426$ProductList$dlProductDetail$ctl00$txtqty" type="text" value="1" maxlength="6" id="dnn_ctr426_ProductList_dlProductDetail_ctl00_txtqty" class="QuantityField NormalTextBox" style="width:32px;" /><span id="dnn_ctr426_ProductList_dlProductDetail_ctl00_valqty" class="QuantityField NormalTextBox" style="color:Red;visibility:hidden;">*</span><span id="dnn_ctr426_ProductList_dlProductDetail_ctl00_rvalqty" class="QuantityField NormalTextBox" style="color:Red;visibility:hidden;">*</span></div>
		</div>	
	
	
<!-- End Quantity Field -->

	
<!-- End Hide remaining panel when stock level is zero -->
	
<!-- Begin Store Disabled Message -->
	
<!-- End Store Disabled Message -->

<!-- Begin Buy and Wishlist Buttons -->
		<div class="AddToBasket Row">
			<div class="Value">
			
			<!-- If price is zero then hide -->
			<a class="BuyButton Button" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;dnn$ctr426$ProductList$dlProductDetail$ctl00$ctl201&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Buy</a><input type="hidden" name="dnn$ctr426$ProductList$dlProductDetail$ctl00$hfModel" id="dnn_ctr426_ProductList_dlProductDetail_ctl00_hfModel" value="92" />
			
			
			
			<style type="text/css">.WishListFlag{display:inline !important}</style>
			<a id="dnn_ctr426_ProductList_dlProductDetail_ctl00_addtowishlist" class="AddWishList Button" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;dnn$ctr426$ProductList$dlProductDetail$ctl00$addtowishlist&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">Add to Wishlist</a>
			
			
			</div>
		</div>
<!-- End Buy and Wishlist Buttons -->

<!-- Begin Validation Summary Message -->
		<div class="ValidationSummary Row">
			<div class="Value">
			<div id="dnn_ctr426_ProductList_dlProductDetail_ctl00_optionvalsummary" class="NormalRed" style="color:Red;display:none;">

				</div>
			</div>
		</div>
<!-- End Validation Summary Message -->

<!-- Begin Downloadable Products Message -->
	
<!-- End Downloadable Products Message -->
	
 </div>
<!-- End Purchasing Panel -->
	
<!-- Begin jQuery Tabbed Content - Each Tab has tab code plus matching content panel code further down -->
 <div class="InformationPanel">
	
	
<!-- Begin Tabs -->
 <div id="tabs">
   <ul>
<!-- Begin Description Tab -->
	
      <li><a href="#tabs-1">Description</a></li>
	
<!-- End Description Tab -->

<!-- Specifications Tab - Disabled by default
	
 -->

<!-- Begin Documents and Document Downloads Tab -->
   
<!-- End Documents and Document Downloads Tab -->

