@{
    ViewBag.Title = "Clothing Co Store";
}


<div class="row">
<div class="large-12 columns">
  
<div class="row">
 
<!-- Side Bar -->
 
<div class="large-2 small-12 columns">
 
<div class="hide-for-small panel">
<h3>Categorias</h3>
<h5 class="subheader">Pantalones</h5>
<h5 class="subheader">Camisetas</h5>
<h5 class="subheader">Chaquetas</h5>
</div>
 
</div>
 
<!-- End Side Bar -->
 
 
<!-- Thumbnails -->
 
<div class="large-10 columns">
<div class="row">
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/1000x1000&text=Thumbnail">
 
<div class="panel">
<h5>Item Name</h5>
<h6 class="subheader">$000.00</h6>
<a class="success button" href="#">
      Buy
</a>
</div>
</div>
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
 
<div class="panel">
<h5>Item Name</h5>
<h6 class="subheader">$000.00</h6>
<a class="success button" href="#">
      Buy
</a>
</div>
</div>
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
 
<div class="panel">
<h5>Item Name</h5>
<h6 class="subheader">$000.00</h6>
<a class="success button" href="#">
      Buy
</a>
</div>
</div>
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
 
<div class="panel">
<h5>Item Name</h5>
<h6 class="subheader">$000.00</h6>
<a class="success button" href="#">
      Buy
</a>
</div>
</div>
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
 
<div class="panel">
<h5>Item Name</h5>
<h6 class="subheader">$000.00</h6>
<a class="success button" href="#">
      Buy
</a>
</div>
</div>
 
<div class="large-4 small-6 columns">
<img src="http://placehold.it/500x500&text=Thumbnail">
 
<div class="panel">
<h5>Item Name</h5>
<h6 class="subheader">$000.00</h6>
<a class="success button" href="#">
      Buy
</a>
</div>
</div>
</div>
 
<!-- End Thumbnails -->
 
 
</div>
</div>
</div>
 

 
</div>
</div>


