@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your cart</h2>
<div>
<table style="width: 90%; text-align: center">
   <thead>
       <tr>
           <th style="text-align: center">Quantity</th>
           <th style="text-align: left">Item</th>
           <th style="text-align: right">Price</th>
           <th style="text-align: right">Subtotal</th>
       </tr>
   </thead>
   <tbody>
           <tr>
               <td style="text-align: center">3</td>
               <td style="text-align: left">Pants</td>
               <td style="text-align: right">$20</td>
               <td style="text-align: right">$60
               </td>
               <td>
                   
                   
                       <input type="submit" class="actionButtons" value="Remove" />
                   
               </td>
           </tr>
   </tbody>
   <tfoot>
       <tr>
           <td colspan="3" style="text-align: right">Total:</td>
           <td style="text-align: right">
               $60
           </td>
       </tr>
   </tfoot>
</table>
<p style="text-align: center" class="actionButtons">
  
</p>
    </div>